/* ------------------ */
/* CSS Resets */
/* ------------------ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins from element */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* removing default list styling */
ul,ol {
  list-style: none;
}

/* removing default link styling */
a {
  text-decoration: none;
}

/* add smooth scroll to the page */
html,html:focus-within {
  scroll-behavior: smooth;
}

/* improve text rendering times on the page, at the cost of making the text appear less 'fancy' */
/* switch this to optimizeLegibility for nicer looking text in the sections that need it */
body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.55;
  min-height: 100vh;
  color: rgb(59, 59, 59);
  background-image: url(../images/bgc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* make image a block element and responsive */
img,
picture,
small {
  max-width: 100%;
  display: block;
}

/* Make form elements inherit font styling */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove outlines from form inputs */
input,
button,a,
input:focus,
textarea:focus, textarea:hover, textarea:active 
{
  outline: none;
}

/* give submit buttons a cursor pointer when hovered */
input[type="submit"]:hover {
  cursor: pointer;
}


/* Remove all animations, transitions and smooth scrolling for users who toggle 'prefers reduced motion' ON */
@media (prefers-reduced-motion: reduce) {
  
  html,html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------ */
/* Custom Properties */
/* ------------------ */
:root {
    --clr-dark: 0 0% 0%;
    --clr-white: 0 0% 100%;
    --clr-grey: 0 0% 50%;
    --clr-main: 203 99% 40%; /* main accent color */
    --clr-red: 0 100% 50%;
}


/* ------------------ */
/*  Utiity Classes */
/* ------------------ */

.flex {
  gap: var(--gap,1em);
  display: flex;
}

.button {
    padding: 1em 2em;
    background-color: hsl(var(--clr-main));
    border: solid 1px hsl(var(--clr-main));
    color: hsl(var(--clr-white));
    font-weight: bold;
    border-radius: 10px;

    transition: transform 250ms ease-in-out;

}

.button:hover {
  transition: transform 250ms ease-in-out;
  transform: translateY(-3px);
}


/* ------------------ */
/*  Main styling */
/* ------------------ */

.nav {
    --gap: 0em;
    background-color: hsl( var(--clr-dark) / .95 );
    border-bottom: solid 1px hsl(var(--clr-grey));
}

.nav a {
    color: hsl(var(--clr-white));
    padding: 1em 2em;
    font-size: 1.1rem;
    border-right: solid 1px hsl(var(--clr-grey));
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.nav a:hover {
    background-color: hsl(var(--clr-main));
    font-size: 1.1rem;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;;
}

.nav a:nth-of-type(1) {
    color: hsl(var(--clr-main));
    text-transform: uppercase;
    font-weight: bold;
}

.nav a:nth-of-type(1):hover {
    color: hsl( var(--clr-dark) / .8 );
}

#current-user {
    margin-left: auto;
    border-left: solid 1px hsl(var(--clr-grey));
}

.form {
    background-color: hsl(var(--clr-white));
    border: solid 1px hsl(var(--clr-grey));
    border-radius: 10px;
    width: 27.5%;
    margin: 1em;
    padding: 1em;
}

.auth {
  width: 31.5%;
}

.legend {
    text-align: center;
    color: hsl(var(--clr-main));
    font-weight: bold;
    font-size: 1.45rem;
    margin: .2em 0 1em;
}

.form-input {
    width: 100%;
    padding: 1em .5em;
    margin-bottom: 1.75em;
    border-radius: 10px;
    border: solid 2px hsl( var(--clr-main) / .8 );
    background-color: hsl(var(--clr-white) / .9);
    transition: transform 250ms ease-in-out;
}

.form-input:focus-visible, .form-input:hover {
    outline: solid 1px hsl(var(--clr-main));
    transform: translateY(-3px);
}

small {
    text-align: center;
    font-size: .95rem;
    margin: 1em;
}

small a {cursor: pointer;}
small a:hover {text-decoration: underline;}

.submit {
  width: 100%;
}

.error {
    background-color: hsl(var(--clr-red) / .5);
    color: hsl(var(--clr-white));
    padding: 0.75em;
    margin-block: 0.75em;
    border-radius: 10px;
}


.writePost {
    width: 40%;
}

.home-title {
  color: hsl(var(--clr-white));
  margin: .5em;
  font-size: 3rem;
}

.post {
  margin: 1em;
  padding: 1em;
  width: 50%;
  border: solid 3px hsl(var(--clr-main));
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px hsl(var(--clr-grey));
  background-color: hsl(var(--clr-white));

}

.postTitle {
  text-align: center;
  color: hsl(var(--clr-main));
  border-bottom: solid 1px hsl(var(--clr-grey));
  width: 70%;
  margin: 0 auto .8em;
  padding: .2em;
  font-size: 1.775rem;
  font-weight: normal;
}

.date {
  margin: 1em 1em 1.2em;
  padding-inline: 1em;
}

.author {
  font-size: 1.1rem;
  color: hsl( var(--clr-dark) / .8 );
  display: block;
    width: 25%;
    margin-right: auto;
    text-align: center;
}

.author b, .date b {
  color: hsl(var(--clr-main));
}

.postContent {
  max-width: 65ch;
  word-break: break-all;
  text-align: center;
  margin: 1.5em auto .5em;
}

.date {
  min-width: 10%;
  max-width: max-content;
  margin-bottom: 0;
  margin-inline: auto 0;
}

.aside {
  background-color: hsl(var(--clr-white));
  width: 30%;
  border: solid 3px hsl(var(--clr-main));
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 1em;
  font-size: 1.05rem;
  position: fixed;
  top: 20%;
  right: 0%;
}

.aside > .legend {
  font-size: 1.75rem;
  margin: .25em;
}

.addPost {
  float: right;
  margin: 2em ;
}

.fullPost {
  font-size: 1.1rem;
}

.fullPost .postTitle {
  font-size: 2.5rem;
}

.fullPost .postContent {
  margin-inline: 1em;
}

.fullPost .author {
  color: hsl(var(--clr-main));
}


.profile {
  width: 30%;
  margin: 1em auto;
  font-size: 1.2rem;
}

.profile p {
  text-align: center;
  margin: 1.1em;
}

.profile .form-input {
  padding: 1em .5em;
  margin: 0 0 1em;
}

.profile hr {
  color: hsl(var(--clr-main));
  width: 75%;
  margin-inline: auto;
}

.viewPosts {
  display: block;
  text-align: center;
  margin: 1em 0;
  padding: .75em .41em;
}

.viewPosts:last-of-type {
  margin-bottom: 0;
}

.del-warning {
  color: hsl(var(--clr-red) / .85);
  margin: 1.25em 0;
  text-align: center;
}

.del {
  background-color: hsl(var(--clr-red) / .85);
  border: solid 1px hsl(var(--clr-red) / .85);
}

.delete {
  margin: 2em auto;
}

.postDel {
  background-color: hsl(var(--clr-red) / .85);
  border: solid 1px hsl(var(--clr-red) / .85);
  padding: .5em;
}


@media screen and (min-width: 414px) and (max-width: 767px) { 

  .button {
    padding: .75em 1em;
  }

  .nav {
    flex-direction: column;
    text-align: center;
  }

  .home-title {
    font-size: 2.25rem;
    padding: .5em 1em;
    text-align: center;
  }

  .aside {
    display: none;
  }

  .post, .form {
    width: 90%;
    font-size: 1rem;
  }

  .form {
    width: 75%;
    max-width: 475px;
  }

  .post, .date {
    margin-inline: auto;
  }

  .postTitle {
    margin: 0.5em inherit 0.1em;
  }

  .author {
    margin-left: auto;
  }

  .addPost {
    float: none;
    margin-inline: auto;
    width: max-content; 
  }

  .addPost > .button {
    margin: 0 1em;
  }


}


@media screen and (min-width: 768px) and (max-width: 1200px) { 
  .aside {
    display: none;
  }

  .post {
    width: 95%;
  }

  .post .postContent {
    margin-inline: auto;
  }

  .form {
    width: 62.5%;
    max-width: 595px;
  }

  .writePost {
    width: 75%;
  }
  
}

